In [ ]:
! python -m pip install "git+https://github.com/javadba/mpld3@display_fix"

Collecting git+https://github.com/javadba/mpld3@display_fix
  Cloning https://github.com/javadba/mpld3 (to revision display_fix) to /tmp/pip-req-build-a85p37x0
  Running command git clone -q https://github.com/javadba/mpld3 /tmp/pip-req-build-a85p37x0
  Running command git checkout -b display_fix --track origin/display_fix
  Switched to a new branch 'display_fix'
  Branch 'display_fix' set up to track remote branch 'display_fix' from 'origin'.
  Running command git submodule update --init --recursive -q
Building wheels for collected packages: mpld3
  Building wheel for mpld3 (setup.py) ... done
  Created wheel for mpld3: filename=mpld3-0.3.1.dev1-cp37-none-any.whl size=116984 sha256=30e469e294512d4f4b95ae81c50370108aec586f2d6c6533a12097db797d836f
  Stored in directory: /tmp/pip-ephem-wheel-cache-xnih46wt/wheels/68/68/6f/80a05346b88378d8e262669b1ae89773bafe4df4e536e92166
Successfully built mpld3
Installing collected packages: mpld3
Successfully installed mpld3-0.3.1.dev1



**Project Description:** Given clinical parameters about a patient, can we predict whether or not they have heart disease?

**Dataset Description:**

####Importing Libraries####

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import mpld3
import pandas as pd
import pandas_profiling
import seaborn as sns

####Import The Dataset####

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving heart_disease.csv to heart_disease.csv

####Show Dataset####

In [ ]:
df = pd.read_csv("heart_disease.csv")
df.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [ ]:
df.shape

(4238, 16)

####CLEANING OF THE DATASET####

In [ ]:
series = pd.isnull(df['cigsPerDay'])
df[series]

      male  age  education  ...  heartRate  glucose  TenYearCHD
131      1   43        4.0  ...       75.0      NaN           0
139      1   49        4.0  ...       93.0     85.0           1
1046     0   49        1.0  ...       90.0     75.0           0
1292     1   42        3.0  ...       90.0     90.0           0
1347     0   58        4.0  ...       75.0      NaN           0
1451     1   54        1.0  ...       95.0     86.0           0
1497     1   55        1.0  ...       70.0    103.0           0
1610     0   61        1.0  ...      103.0    106.0           0
1625     0   49        2.0  ...       90.0     72.0           0
1870     0   47        2.0  ...       72.0     80.0           0
1963     1   45        3.0  ...       83.0     85.0           0
1980     0   60        2.0  ...       63.0      NaN           0
2405     0   49        1.0  ...       72.0     89.0           0
2513     1   42        1.0  ...       62.0     98.0           0
2542     1   57        NaN  ...       62.0    103.0           0
3021     1   53        2.0  ...       58.0     82.0           0
3034     0   57        NaN  ...       80.0     93.0           0
3094     0   49        1.0  ...       80.0     70.0           1
3106     0   47        3.0  ...       90.0     74.0           0
3108     1   39        2.0  ...       85.0     65.0           0
3156     1   37        3.0  ...       65.0     80.0           0
3177     1   45        2.0  ...       64.0     88.0           0
3309     1   58        2.0  ...       81.0    135.0           0
3432     0   55        1.0  ...       69.0     66.0           0
3579     1   42        1.0  ...       66.0      NaN           0
3715     0   57        2.0  ...       95.0     81.0           0
3847     0   41        1.0  ...       79.0     82.0           0
3924     0   52        2.0  ...       95.0     84.0           0
3942     0   39        3.0  ...       55.0     63.0           0

[29 rows x 16 columns]

#####As Education does not play a factor in Heart Attack, I have dropped that column####
and  I dropped currentSmoker column too as cigsPerDay column already denotes that the person is a Smoker, that's just extra information which is not useful.

In [ ]:
data = df.drop(['currentSmoker','education'], axis = 'columns')
data.head()

   male  age  cigsPerDay  BPMeds  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39         0.0     0.0  ...  26.97       80.0     77.0           0
1     0   46         0.0     0.0  ...  28.73       95.0     76.0           0
2     1   48        20.0     0.0  ...  25.34       75.0     70.0           0
3     0   61        30.0     0.0  ...  28.58       65.0    103.0           1
4     0   46        23.0     0.0  ...  23.10       85.0     85.0           0

[5 rows x 14 columns]

In [ ]:
cigs = data['cigsPerDay']
cigs.head()

0     0.0
1     0.0
2    20.0
3    30.0
4    23.0
Name: cigsPerDay, dtype: float64

#####I have calculated the mean of people smoking a cigaratte per day####

In [ ]:
cig = cigs.mean()

####I rounded that value to the neartest integer####

In [ ]:
import math
integer_value = math.floor(cig)
integer_value

9

####I filled the null values in 'cigsPerDay' with the mean of the Cigarattes smoked by a person in a day####

In [ ]:
cigs.fillna(integer_value, inplace = True)

In [ ]:
data.isnull().sum()

male                 0
age                  0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

####I dropped the rest of the rows of the null values####

In [ ]:
data.dropna( axis = 0, inplace = True)

####This shows that there are no Null value anymore in the DataFrame####

In [ ]:
data.isnull().sum()

male               0
age                0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [ ]:
data.shape

(3774, 14)

####Created a separate DataFrame for the people having chances of heart attack###

In [ ]:
Heart_Attack = data[data.TenYearCHD == 1]
Heart_Attack.head()

    male  age  cigsPerDay  BPMeds  ...    BMI  heartRate  glucose  TenYearCHD
3      0   61        30.0     0.0  ...  28.58       65.0    103.0           1
6      0   63         0.0     0.0  ...  33.11       60.0     85.0           1
15     0   38        20.0     0.0  ...  21.35       95.0     70.0           1
17     0   46        20.0     0.0  ...  23.38       80.0     89.0           1
25     1   47        20.0     0.0  ...  24.18       62.0     66.0           1

[5 rows x 14 columns]

####Created another separate DataFrame for people having low chances of heart attack####

In [ ]:
No_Heart_Attack = data[data.TenYearCHD == 0]
No_Heart_Attack.head()

   male  age  cigsPerDay  BPMeds  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39         0.0     0.0  ...  26.97       80.0     77.0           0
1     0   46         0.0     0.0  ...  28.73       95.0     76.0           0
2     1   48        20.0     0.0  ...  25.34       75.0     70.0           0
4     0   46        23.0     0.0  ...  23.10       85.0     85.0           0
5     0   43         0.0     0.0  ...  30.30       77.0     99.0           0

[5 rows x 14 columns]

####This groups the data on the basis of 'TenYearCHD' indicating the overall dependence of columns on 'TenYearCHD'####

In [ ]:
data.groupby('TenYearCHD').mean()

                male        age  cigsPerDay  ...        BMI  heartRate    glucose
TenYearCHD                                   ...
0           0.425312  48.740313    8.723750  ...  25.662769  75.609688  80.665000
1           0.557491  54.233449   10.574913  ...  26.644094  76.378049  88.827526

[2 rows x 13 columns]

#####As 'diaBP', 'BMI', 'heartRate' have values in the similar zone and almost equal to one another for 1 or 0 values for 'TenYearCHD', they are dropped####

In [ ]:
final = data.drop(['diaBP','BMI','heartRate'], axis = 'columns')

In [ ]:
No_Heart_Attack = final[final.TenYearCHD == 0]
No_Heart_Attack.head()

   male  age  cigsPerDay  BPMeds  ...  totChol  sysBP  glucose  TenYearCHD
0     1   39         0.0     0.0  ...    195.0  106.0     77.0           0
1     0   46         0.0     0.0  ...    250.0  121.0     76.0           0
2     1   48        20.0     0.0  ...    245.0  127.5     70.0           0
4     0   46        23.0     0.0  ...    285.0  130.0     85.0           0
5     0   43         0.0     0.0  ...    228.0  180.0     99.0           0

[5 rows x 11 columns]

In [ ]:
Heart_Attack = final[final.TenYearCHD == 1]
Heart_Attack.head()

    male  age  cigsPerDay  BPMeds  ...  totChol  sysBP  glucose  TenYearCHD
3      0   61        30.0     0.0  ...    225.0  150.0    103.0           1
6      0   63         0.0     0.0  ...    205.0  138.0     85.0           1
15     0   38        20.0     0.0  ...    221.0  140.0     70.0           1
17     0   46        20.0     0.0  ...    291.0  112.0     89.0           1
25     1   47        20.0     0.0  ...    294.0  102.0     66.0           1

[5 rows x 11 columns]

In [ ]:
final.groupby('TenYearCHD').mean()

                male        age  cigsPerDay  ...     totChol       sysBP    glucose
TenYearCHD                                   ...
0           0.425312  48.740313    8.723750  ...  235.347187  130.308437  80.665000
1           0.557491  54.233449   10.574913  ...  246.311847  143.827526  88.827526

[2 rows x 10 columns]

####Split our dataset into its attributes and labels####

In [ ]:
X = final.iloc[:, :-1].values
y = final.iloc[:, 10].values

####Train Test Split by using sklearn train_test_split####

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state = 99)

####Feature Scaling####

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

####Training and Predictions####

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[619  33]
 [ 91  12]]
              precision    recall  f1-score   support

           0       0.87      0.95      0.91       652
           1       0.27      0.12      0.16       103

    accuracy                           0.84       755
   macro avg       0.57      0.53      0.54       755
weighted avg       0.79      0.84      0.81       755

#####Comparing Error Rate with the K Value####

In [ ]:
error = []

# Calculating error for K values between 1 and 50
for i in range(1, 50):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred_i = knn.predict(X_test)
    error.append(np.mean(pred_i != y_test))

#####Plot the error values against K values####

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(range(1, 50), error, color='red', linestyle='dashed', marker='o',
         markerfacecolor='blue', markersize=10)
plt.title('Error Rate K Value')
plt.xlabel('K Value')
plt.ylabel('Mean Error')

Text(0, 0.5, 'Mean Error')